/* ******************* Général ******************* */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-image: url("/img/argonauts.jpg");
  background-size: cover;
  color: var(--font-color-1);
  display: grid;
  grid-template-rows: 90px 1fr 50px;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
                       "main"
                       "footer";
}
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
header, footer, form, h2:first-of-type, h2:last-of-type, .member-item {
  text-align: center;
}
input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: solid 1px var(--main-layer);
}
:root {
  --font-color-1: #eee;
  --font-color-2: #303030;
  --wcs-color: #f76c6c;
  --clear-bg: rgba(238, 238, 238, 0.8);
  --dark-bg: rgba(100, 100, 100, 0.8);
  --wcs-bg: rgba(247, 108, 108, 0.8);
  --main-layer: rgba(0, 0, 0, 0.3);
}

/* ******************* Header ******************* */
header {
    background: var(--clear-bg);
    color: var(--font-color-2);
    grid-area: header;
}
header img {
    max-width: 96px;
}
/* ******************* Main ******************* */
main {
  background-color: var(--main-layer);
  grid-area: main;
  display: grid;
  align-items: center;
  grid-gap: 10px;
  grid-template-rows: 40px 80px 40px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "title1"
                       "form"
                       "title2"
                       "section"
                       ;
}
h2:first-of-type {
  grid-area: title1;
}
h2:last-of-type {
  grid-area: title2;
}
form {
  grid-area: form;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
input {
  display: inline-block;
  padding: 10px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button {
  background: var(--wcs-color);
  color: var(--font-color-1);
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}
button:hover {
    box-shadow: 0 3px 6px 0 var(--dark-bg),0 1px 2px 0 var(--dark-bg) inset;
    transform: scale(1.01);
}
button:active {
  box-shadow: 0px 5px 10px var(--dark-bg);
  transform: scale(.98);
}
section {
  grid-area: section;
  align-self: start;
  display: flex;
  flex-wrap: wrap;
}
.member-item {
  padding: 0.3em 0;
  margin: 3px;
  width: 40%;
  flex-grow: 1;
  background: var(--dark-bg);
  border-radius: 5px;
}
.error {
  margin-bottom: 3px;
  font-size: 12px;
}
/* ******************* Footer ******************* */
footer {
  background: var(--wcs-bg);
  grid-area: footer;
  margin-top: 5px;
}
/* ******************* Media queries ******************* */
@media (min-width: 768px) { 
  main {
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:  ". title1 ."
                          ". form ."
                          ". title2 ."
                          ". section ."
  }
}
@media (min-width: 1200px) {
  main {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .member-item {
    width: 30%;
  }
  input {
    width: 40%;
  }
}
